# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.wikidot'
name: 'Wikidot'
# Include the basic types
patterns:[{
   include: '#inlineFormating',
   include: '#blocks'
}]

# Include the more specific type of patterns.
repository:{
   inlineFormating:
      patterns: [
         include: '#inlineItalicText',
         include: '#inlineBoldText',
         inclide: '#inlineUnderlineText',
         include: '#inlineStrikethroughText'
      ]
   blocks:
      patterns: [
         include: '#commentsBlock'
      ]

# The specific Inline Formating Patterns
inlineItalicText:
   patterns:[
      match: '(\\/\\/)(.*)(\\/\\/)'
      captures:
         0: name: 'meta.italic.wikidot'
         1: name: 'punctuation.definition.italic.wikidot'
         2: name: 'markup.italic.wikidot'
         3: name: 'punctuation.definition.italic.wikidot'
   ]
inlineBoldText:
   patterns:[
      match: '(\\*\\*)(.*)(\\*\\*)'
      captures:
         0: name: 'meta.bold.wikidot'
         1: name: 'punctuation.definition.bold.wikidot'
         2: name: 'markup.bold.wikidot'
         3: name: 'punctuation.definition.bold.wikidot'
   ]
inlineUnderlineText:
   patterns:[
      match: '(__)(.*)(__)'
      captures:
         0: name: 'meta.underline.wikidot'
         1: name: 'punctuation.definition.underline.wikidot'
         2: name: 'markup.underline.wikidot'
         3: name: 'punctuation.definition.underline.wikidot'
   ]
inlineStrikethroughText:
   patterns:[
      match: '(\A--)(.*)(--)'
      captures:
         0: name: 'meta.strikethrough.wikidot'
         1: name: 'punctuation.definition.strikethrough.wikidot'
         2: name: 'markup.strikethrough.wikidot'
         3: name: 'punctuation.definition.strikethrough.wikidot'
   ]


# The specific block type patterns
commentsBlock:
   patterns: [
      name: 'comment.block.wikidot'
      begin: '\\[!--'
      captures: 0: name: 'punctuation.definition.comment.wikidot'
      end: '--]'
      captures: 0: name: 'punctuation.definition.comment.wikidot'
   ]

# The repository closing bracket
}
