# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/
scopeName: 'source.wikidot'
name: 'Wikidot'
# Include the basic types
patterns:[
	{ include: '#blocks' },
	{ include: '#basichightlights' },
	{ include: '#inlineFormating' },
]

# Include the more specific type of patterns.
repository:{
	inlineFormating:
		patterns: [
			{ include: '#inlineItalicText' },
			{ include: '#inlineBoldText' },
			{ include: '#inlineUnderlineText' },
			{ include: '#inlineStrikethroughText' },
			{ include: '#inlineMonoSpacedText' },
			{ include: '#inlineSuperScriptText' },
			{ include: '#inlineSubScriptText' },
			{ include: '#inlineHeadingLevel1' },
			{ include: '#inlineHeadingLevel2' },
			{ include: '#inlineHeadingLevel3' },
			{ include: '#inlineHeadingLevel4' },
			{ include: '#inlineHeadingLevel5' },
			{ include: '#inlineHeadingLevel6' },
		]
	blocks:
		patterns: [
			{ include: '#blockComments' },
			{ include: '#blockColorCode' },
			{ include: '#blockCustomElement' },
			{ include: '#blockTextSize'},
			{ include: '#blockModuleCSS' },
			{ include: '#blockCollapsible' },
			{ include: '#blockTabView' },
			{ include: '#blockTabs' },
			{ include: '#blockGridCellHeaders' },
			{ include: '#blockGridCellContents' },
		]
	basichightlights:
		patterns:[
			{ include: '#highlightTableOfContents' },
			{ include: '#highlightHorizontalRule' },
			{ include: '#highlightInteralLinks' },
			{ include: '#highlightInclude' },
			{ include: '#highlightInternalAnchorLink'},
		]

# The specific Inline Formating Patterns
inlineItalicText:
	patterns:[
		name: 'markup.italic.wikidot'
		begin: '\\/\\/'
		beginCaptures:
			0: name: 'punctuation.definition.italic.wikidot'
		end: '\\/\\/'
		endCaptures:
			0: name: 'punctuation.definition.italic.wikidot'
		]
inlineBoldText:
	patterns:[
		name: 'markup.bold.wikidot'
		begin: '\\*\\*'
		beginCaptures:
			0: name: 'punctuation.definition.bold.wikidot'
		end: '\\*\\*'
		endCaptures:
			0: name: 'punctuation.definition.bold.wikidot'
		]
inlineUnderlineText:
	patterns:[
		name: 'markup.underline.wikidot'
		begin: '__'
		beginCaptures:
			0: name: 'punctuation.definition.underline.wikidot'
		end: '__'
		endCaptures:
			0: name: 'punctuation.definition.underline.wikidot'
		]
inlineStrikethroughText:
	patterns:[
		name: 'markup.strike.wikidot'
		begin: '--'
		beginCaptures:
			0: name: 'punctuation.definition.strike.wikidot'
		end: '--'
		endCaptures:
			0: name: 'punctuation.definition.strike.wikidot'
		]
inlineMonoSpacedText:
	patterns:[
		name: 'markup.raw.wikidot'
		begin: '{{'
		beginCaptures:
			0: name: 'punctuation.definition.raw.wikidot'
		end: '}}'
		endCaptures:
			0: name: 'punctuation.definition.raw.wikidot'
		]
inlineSuperScriptText:
	patterns:[
		name: 'string.unquoted.wikidot'
		begin: '\\^\\^'
		beginCaptures:
			0: name: 'punctuation.definition.superscript.wikidot'
		end: '\\^\\^'
		endCaptures:
			0: name: 'punctuation.definition.superscript.wikidot'
		]
inlineSubScriptText:
	patterns:[
		name: 'string.unquoted.wikidot'
		begin: ',,'
		beginCaptures:
			0: name: 'punctuation.definition.subscript.wikidot'
		end: ',,'
		endCaptures:
			0: name: 'punctuation.definition.subscript.wikidot'
		]
inlineHeadingLevel1:
	patterns:[
		name: 'entity.name.section.wikidot'
		match: '(\\+{1}|\\+{1}\\*)(\\s+)(.*)\n|\r'
		captures:
			1: name: 'markup.heading.marker.wikidot'
			2: name: 'markup.heading.space.wikidot'
			3: name: 'markup.heading.heading.1.wikidot'
		]
inlineHeadingLevel2:
	patterns:[
		name: 'entity.name.section.wikidot'
		match: '(\\+{2}|\\+{2}\\*)(\\s+)(.*)\n|\r'
		captures:
			1: name: 'markup.heading.marker.wikidot'
			2: name: 'markup.heading.space.wikidot'
			3: name: 'markup.heading.heading.2.wikidot'
		]
inlineHeadingLevel3:
	patterns:[
		name: 'entity.name.section.wikidot'
		match: '(\\+{3}|\\+{3}\\*)(\\s+)(.*)\n|\r'
		captures:
			1: name: 'markup.heading.marker.wikidot'
			2: name: 'markup.heading.space.wikidot'
			3: name: 'markup.heading.heading.3.wikidot'
		]
inlineHeadingLevel4:
	patterns:[
		name: 'entity.name.section.wikidot'
		match: '(\\+{4}|\\+{4}\\*)(\\s+)(.*)\n|\r'
		captures:
			1: name: 'markup.heading.marker.wikidot'
			2: name: 'markup.heading.space.wikidot'
			3: name: 'markup.heading.heading.4.wikidot'
		]
inlineHeadingLevel5:
	patterns:[
		name: 'entity.name.section.wikidot'
		match: '(\\+{5}|\\+{5}\\*)(\\s+)(.*)\n|\r'
		captures:
			1: name: 'markup.heading.marker.wikidot'
			2: name: 'markup.heading.space.wikidot'
			3: name: 'markup.heading.heading.5.wikidot'
		]
inlineHeadingLevel6:
	patterns:[
		name: 'entity.name.section.wikidot'
		match: '(\\+{6}|\\+{6}\\*)(\\s+)(.*)\n|\r'
		captures:
			1: name: 'markup.heading.marker.wikidot'
			2: name: 'markup.heading.space.wikidot'
			3: name: 'markup.heading.heading.6.wikidot'
		]

# The specific block type patterns
blockComments:
	patterns: [
		name: 'comment.block.wikidot'
		begin: '\\[!--'
		beginCaptures:
			0: name: 'punctuation.definition.comment.block.wikidot'
		end: '--]'
		endCaptures:
			0: name: 'punctuation.definition.comment.block.wikidot'
		patterns:[{ include: '$self' }]
	]
blockColorCode:
	patterns: [
		name: 'entity.name.section.wikidot'
		begin: '##(.*)\\|'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
		end: '##'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns:[{ include: '$self' }]
	]
blockCustomElement:
	patterns: [
		begin: '\\[\\[span (style=)("[^\\]]*")]]'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'entity.other.attribute-name.wikidot'
			2: name: 'support.constant.wikidot'
		end: '\\[\\[/span]]'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns:[{ include: '$self' }]
	]
blockTextSize:
	patterns: [
		begin: '\\[\\[size ([^\\]]*)]]'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
		end: '\\[\\[/size]]'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns:[{ include: '$self' }]
	]
blockModuleCSS:
	begin: '\\[\\[module\\s([^\\]]*)]]'
	beginCaptures:
		0: name: 'punctuation.definition.entity.tag.wikidot'
		1: name: 'support.constant.wikidot'
	end: '\\[\\[/module]]'
	endCaptures:
		0: name: 'punctuation.definition.entity.tag.wikidot'
	contentName: 'entity.other.inherited-class.wikidot'
	patterns: [{ include: 'source.css' }]
blockCollapsible:
	patterns: [
		begin: '\\[\\[collapsible(\\sshow=)([^\\]]*)(\\shide=)([^\\]]*)]]'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'entity.other.attribute-name.wikidot'
			2: name: 'support.constant.wikidot'
			3: name: 'entity.other.attribute-name.wikidot'
			4: name: 'support.constant.wikidot'
		end: '\\[\\[\\/collapsible]]'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns: [{ include: '$self' }]
	]
blockTabView:
	patterns: [
		name: 'meta.tabview.wikidot'
		begin: '\\[\\[tabview]]'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		end: '\\[\\[\\/tabview]]'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns: [{ include: '$self' }]
	]
blockTabs:
	patterns:[
		name: 'meta.tab.wikidot'
		begin: '\\[\\[tab ([^\\]]*)]]'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
		end: '\\[\\[\\/tab]]'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns: [{ include: '$self' }]
	]
blockGridCellHeaders:
	patterns:[
		begin: '\\|+~([^\\|]+)'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'entity.name.section.wikidot'
		end: '\\|{2}$'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns: [{ include: '$self' }]
	]
blockGridCellContents:
	patterns:[
		begin: '\\|+'
		beginCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		end: '\\|{2}$'
		endCaptures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
		patterns: [{ include: '$self' }]
	]

# Basic highlighting
highlightTableOfContents:
	patterns: [
		match: '\\[\\[(f<|f>|)toc]]'
		captures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
	]
highlightHorizontalRule:
	patterns: [
		match: '(-{4,})'
		captures:
			0: name: 'entity.horizontalrule.wikidot'
			1: name: 'markup.heading.wikidot'
	]
highlightInteralLinks:
	patterns: [
		match: '\\[{3}([^#:|\\]]*)(?:#|\\||:|)([^#:|\\]]*)(?:#|\\||:|)([^#:|\\]]*)\\]{3}'
		captures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
			2: name: 'support.constant.wikidot'
			3: name: 'support.constant.wikidot'
	]
highlightInclude:
	patterns: [
		match: '\\[\\[include ([^\\]]*)]]'
		captures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
	]
highlightInternalAnchorLink:
	patterns: [
		match: '\\[\\[[\\#\\/\\>\\<\\=\\*]+([^\\]]*)]]'
		captures:
			0: name: 'punctuation.definition.entity.tag.wikidot'
			1: name: 'support.constant.wikidot'
	]


# Repository closing bracket
}
